/* -----Universal----- */

/* * {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
} */

body {
    font-family: 'Merriweather', serif;
    margin: 0;
}

p {
    font-size: 1.25em;
    color: rgb(209, 203, 203);
}

h2 {
    font-size: 2em;
}

.container {
    width: 100%;
    margin: auto;
    max-width: 600px;
    margin-bottom: 80px;
}

/* -------HEADER STYLES------ */

.top-header {
    background-color: rgb(40, 40, 73);
    color: white;
    text-align: center;
    width: 100%;
    padding: 10px;
}

.title {
    padding: 8px;
    text-align: center;
}

.top-divider {
  border: none;
  border-top: 10px solid rgb(40, 40, 73);
  border-bottom: 5px solid rgb(40, 40, 73);
  padding: 2px;
  border-radius: 2px;
  margin-bottom: 2em;
}

/* -----FORM STYLES----- */


.fieldset-top {
    display: inline-flex;
    border: none;
    justify-content: center;
    width: 100%;
}


.input {
    background-color: whitesmoke;
    width: 90%;
    height: 2.5em;
    padding: 5px;
    margin-top: 8px;
    margin-bottom: 24px;
    border: none;
    box-shadow: initial;
    font-family: 'Merriweather', serif;
    font-size: 1em;
    color: black;

}

input::placeholder{
    text-align: right;
    font-style: italic;
    color: rgb(209, 203, 203);
}

.input-postcode {
    background-color: whitesmoke;
    width: 40%;
    height: 2.5em;
    padding: 5px;
    margin-top: 8px;
    margin-bottom: 24px;
    border: none;
    box-shadow: initial;
}

.input-labels {
    color: rgb(146, 141, 141);
}

.input:hover {
    box-shadow: 0 0 5px rgb(40, 40, 73);
    background-color: white;
    cursor: pointer;
}

.fieldset-bottom {
    border: none;
    justify-content: space-between;
    display: block;
    margin: auto;

}

.bottom-divider {
    border: none;
    border-bottom: 2px solid rgb(40, 40, 73);
    padding: 2px;
    border-radius: 2px;
    margin-bottom: 2em;
    margin-top: 2em;
    width: 100%;
}

.newsletter-questions {
    font-family: 'Merriweather', serif;
    color: rgb(146, 141, 141);
    padding: 15px;
    margin-bottom: 16px;
    margin-top: 16px;
}

.text-area {
    background-color: whitesmoke;
    width: 90%;
    height: 8em;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    box-shadow: initial;
    font-family: 'Merriweather', serif;
    font-style: italic;
    color: rgb(209, 203, 203);
}

.submit-button {
    width: 90%;
    background-color: rgb(24, 155, 160);
    color: white;
    font: bolder;
    padding: 15px;
    font-size: x-large;
    font-family: 'Merriweather', serif;   
}

button:hover {
    box-shadow: 0 0 5px rgb(40, 40, 73);
    cursor: pointer;
}

/* ---- Footer ---- */

.footer {
    text-align: center;
    font-style: italic;
}

/* ----Media Queries---- */

@media (min-width: 768px) { 

    .input {
        align-items: center;
        display: block;
        margin: auto;
        
        
    }

   .fieldset-top {
       display: block;
       max-width: 600px;
       margin: auto;
   }

    .input-postcode {
        max-width: 500px;
        align-items: center;
        margin: auto    ;
    }

        .submit-button {
            max-width: 600px;
            align-items: center;
            margin: auto;
            display: block;
        }

        .fieldset-bottom {
            margin: auto;
            display: block;
        }

        

}

